<p class="description-pretext">{{ homepage.intro }}</p>
<p class="description-pretext">{{ homepage.history }}</p>
<p class="extra active">{{ homepage.apartments }}</p>
<p class="extra active">{{ homepage.surroundings }}</p>